@model IEnumerable<Academia.Models.Aluno>
@{
    ViewData["Title"] = "Index";
}

@if (!User.IsInRole("Personal")) {
    <p class="text-danger">Acesso negado. Apenas Personais podem visualizar a lista de alunos.</p>
}
else {
    <h1>Lista de Alunos</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Nome)</th>
                <th>@Html.DisplayNameFor(model => model.Data_Nascimento)</th>
                <th>@Html.DisplayNameFor(model => model.E_Mail)</th>
                <th>@Html.DisplayNameFor(model => model.Instagram)</th>
                <th>@Html.DisplayNameFor(model => model.Telefone)</th>
                <th>@Html.DisplayNameFor(model => model.Observacoes)</th>
                <th>@Html.DisplayNameFor(model => model.Personal)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.Data_Nascimento)</td>
                    <td>@Html.DisplayFor(modelItem => item.E_Mail)</td>
                    <td>@Html.DisplayFor(modelItem => item.Instagram)</td>
                    <td>@Html.DisplayFor(modelItem => item.Telefone)</td>
                    <td>@Html.DisplayFor(modelItem => item.Observacoes)</td>
                    <td>@Html.DisplayFor(modelItem => item.Personal.Nome)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AlunoID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.AlunoID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.AlunoID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}