@model IEnumerable<Academia.Models.Treino>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de treinos dos alunos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aluno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
                <td>
                    @item.Hora.ToString("HH:mm")
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personal.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aluno.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TreinoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TreinoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TreinoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
